docs/workflow-n8n.json
{
    "name": "PetControl Automation Flow",
    "nodes": [
        {
            "parameters": {
                "rule": {
                    "interval": [
                        {
                            "field": "hour",
                            "value": 8
                        }
                    ]
                }
            },
            "id": "e4a1a5b4-7d5a-4e8c-8f4b-7a1c2d3e4f5a",
            "name": "Schedule (8 AM)",
            "type": "n8n-nodes-base.scheduleTrigger",
            "typeVersion": 1,
            "position": [
                450,
                300
            ]
        },
        {
            "parameters": {
                "operation": "select",
                "schema": {
                    "__rls": "true"
                },
                "table": "agenda",
                "returnAll": true,
                "whereClause": {
                    "values": [
                        {
                            "column": "scheduled_date",
                            "value": "={{ $today.toISODate() }}"
                        },
                        {
                            "column": "status",
                            "value": "pending"
                        }
                    ]
                }
            },
            "id": "f5b2c6d7-8e6b-5f9d-9g5c-8b2d3e4f5g6h",
            "name": "Fetch Today Pending",
            "type": "n8n-nodes-base.supabase",
            "typeVersion": 1,
            "position": [
                670,
                300
            ]
        },
        {
            "parameters": {
                "amount": "={{ Math.floor(Math.random() * (60 - 30 + 1) + 30) }}",
                "unit": "seconds"
            },
            "id": "g6c3d7e8-9f7c-6g0e-0h6d-9c3d4e5f6g7i",
            "name": "Anti-Block Delay",
            "type": "n8n-nodes-base.wait",
            "typeVersion": 1,
            "position": [
                890,
                300
            ]
        },
        {
            "parameters": {
                "method": "POST",
                "url": "YOUR_EVOLUTION_API_URL/message/sendText/{{ $json[\"instance_name\"] }}",
                "sendHeaders": true,
                "headerParameters": {
                    "parameters": [
                        {
                            "name": "apikey",
                            "value": "YOUR_EVO_API_KEY"
                        }
                    ]
                },
                "sendBody": true,
                "bodyParameters": {
                    "parameters": [
                        {
                            "name": "number",
                            "value": "={{ $json[\"phone\"] }}"
                        },
                        {
                            "name": "text",
                            "value": "={{ $json[\"message\"] }}"
                        }
                    ]
                }
            },
            "id": "h7d4e8f9-0a8d-7h1f-1i7e-0d4e5f6g7h8j",
            "name": "Send Message (Evolution API)",
            "type": "n8n-nodes-base.httpRequest",
            "typeVersion": 4.1,
            "position": [
                1110,
                300
            ]
        }
    ],
    "connections": {
        "Schedule (8 AM)": {
            "main": [
                [
                    {
                        "node": "Fetch Today Pending",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Fetch Today Pending": {
            "main": [
                [
                    {
                        "node": "Anti-Block Delay",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        },
        "Anti-Block Delay": {
            "main": [
                [
                    {
                        "node": "Send Message (Evolution API)",
                        "type": "main",
                        "index": 0
                    }
                ]
            ]
        }
    }
}